@using Yummy.Areas.ViewModels;
@using Yummy.Models;
@model PaginationVM<Product>
@{
    int count = ((Model.CurrentPage-1)*Model.Take)+1;
}

<div class="container w-25">
    <form method="post" asp-area="Admin" asp-controller="Product" asp-action="Index">
        <div class="input-group">
            <select asp-for="Take" class=" form-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
            </select>
            <button type="submit" class="btn btn-sm btn-outline-warning">Get Data</button>
        </div>
    </form>
</div>
<div class="d-flex justify-content-end">
    <a class="btn btn-success" asp-controller="Product" asp-action="Create">Create</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Ingredients</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Data)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@product.Name</td>
                <td>@product.Ingredients</td>
                <td>@product.Price</td>

                <td>
                    <a class="btn btn-warning text-light" asp-area="Admin" asp-controller="Services" asp-action="Edit" asp-route-Id="@product.Id">
                        <i class="mdi mdi-grease-pencil"></i>
                    </a>
                    <a class="btn btn-danger text-light" asp-area="Admin" asp-controller="Services" asp-action="Delete" asp-route-Id="@product.Id">
                        <i class="mdi mdi-delete-forever"></i>
                    </a>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.HasPrevious? "": "disabled")">
            <a class="page-link" asp-area="Admin" asp-controller="Product" asp-action="Index"
            asp-route-page="@(Model.CurrentPage-1)" asp-route-take="@Model.Take">Previous</a>
        </li>
        @for (int i = 1; i < Model.PageCount; i++)
        {
            <li class="page-item @(i==Model.CurrentPage?"active":"")" aria-current="page">
                <a class="page-link" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-page="@i" asp-route-take="@Model.Take">@i</a>
            </li>
        }
        <li class="page-item @(Model.HasNext ? "" : "disabled")">
            <a class="page-link" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)" asp-route-take="@Model.Take">Next</a>
        </li>
    </ul>
</nav>